@charset "UTF-8";
/*
    em HTML é id = em CSS  é # (só pode um elemento)
    em  HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(220, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(194, 12, 43);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(21, 150, 150);
}
.basico {  
    color: #3c805e;
    font-weight: bold;

}

.intermediario {
    color: #80793c;

}
.avancado {
    color: #803c3c;

}

.destaque {
    background-color: rgb(255, 255, 108);
}
